#accordion_r {
	min-height: 300px; 
	background-color: rgb(251, 251, 251); 
	overflow: auto; 
	overflow-x: hidden;
}

#accordion_t {
	min-height: 300px; 
	background-color: rgb(251, 251, 251); 
	overflow: auto; 
	overflow-x: hidden;
}

.arrow {
	width: 20px;
	margin-top: 3px;
	margin-bottom: -5px;
	margin-left: 6px;
	margin-right: 5px;
	float: left;
}
.label-as-badge {
	border-radius: 1em;
	margin-left: 15px;
}

a.list-group-item{
	padding: 0px;
}

.panel-heading {
	background-color: rgb(245, 245, 245);
	padding:0px;
}

.checkbox {
	width: 14px;
	height: 14px;
}

#selected_lists{
	overflow: hidden;
	margin-bottom: 15px;
}

#drawer_menu_label {
	position: fixed;
	top: 60px;
	width: 0px;
	height: 0px;
	z-index: 101;
	opacity: 0.85;
	background-color: white; 	
}

.drawer_menu {
	padding: 0px;
	left: -300px;
	top: 60px;
	position: fixed;
	width: 300px;
	z-index: 102;
	background-color: rgb(225,225,225);
	height: 100vh;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.drawer_menu > h4 {
	background-color : rgb(210,210,210);
	font-weight: bolder;
	padding: 6px;
	padding-left: 20px;
	margin: 0px;
}

.container {
	overflow-x: hidden;
	position: relative;
	left: 0px;
	margin-left: 0px;
	z-index: 100;
	padding: 0px;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

#my_header {
	height: 60px;
	/*background-color: rgb(0,197,247);*/
	background-color: rgb(0,197,47);
	z-index: 102;
}

#menu_image {
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	width: 30px;
}

.page_name {
	color: white;
	font-size: 35px;
	font-family: "Hanna", serif;
	margin-left: 40px;
	vertical-align: middle;
}

.drawer_menu>.drawer_menu_sub {
	padding: 17px;
	padding-left: 30px;
	font-size: 18px;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.drawer_menu>.drawer_menu_sub:HOVER {
	color: rgb(240, 240, 240);
	background-color: rgb(160, 160, 160);
	font-size: 20px;
}

.drawer_menu>.drawer_menu_sub>#settings {
	color: rgb(50,50,50);
	font-size: 15px;
	max-height: 0px;
	padding-left: 20px;
	overflow: hidden;
	-webkit-transition : max-height 0.6s ease;
	-moz-transition: max-height 0.6s ease;
	transition: max-height 0.6s ease;
}

.drawer_menu>.drawer_menu_sub>#settings>div {
	-webkit-transition : all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.drawer_menu>.drawer_menu_sub>#settings>div:HOVER {
	color: rgb(240,240,240);
	font-size: 18px;
	cursor: pointer;
}

.drawer_menu>.drawer_menu_sub:HOVER>#settings {
	max-height: 500px;
}